header{
    width: 100%;
    height: 80px;
    display: flex;
    background: var(--orangeT);
}
header h1{
    margin: auto 5%;
    color: white;
}
header .boton1{
    width: fit-content;
    height: fit-content;
    margin: auto 5% auto auto;
    padding: 2px 5px;
    font-size: 1.5rem;
    background: rgb(243, 234, 216);
    border: 2px solid rgb(172, 52, 5);
    border-radius: 5px;
    color: rgb(172, 52, 5);
}
header .boton1:hover{
    color: rgb(243, 234, 216);
    background: rgb(172, 52, 5);
    cursor: pointer;
}